:root {
    // brand colors
    --vp-c-brand: #00A67E;
    --vp-c-brand-light: #00ff80;
}

html.dark {
    --vp-c-brand: #00A67E;
    --vp-c-brand-light: #00ff80;
}

iframe {
    width: 100%;
}

.home .hero img {
    max-width: 150px;
    width: auto;
    height: auto;
}